



<hr>
<div>
  <h1 style="text-align:center ;">Anketler</h1>

  <div class="container">
    <div class="row">
       <div class="col-lg-6">
         <h5>Seçim Anketi</h5>
         <img style="width:100%" src="https://sanathabernet.teimg.com/sanathaber-net/uploads/2023/01/orc-2023-genel-secim-anketi-sonuclari.png" alt="">
         <p>
          Cumhurbaşkanlığı seçimi ve genel seçime artık aylar kaldı. Seçim atmosferine girilmesi ile birlikte çeşitli anket firmaları, anket sonuçlarını yayınlıyorlar. Bu kapsamda, ORC Araştırma Genel Müdür Mehmet Pösteki sosyal medya hesabı üzerinden yaptığı paylaşım ile son seçim anketinin sonuçlarını yayınladı.
       </div>
    
       <div class="col-lg-6">
         <h5>Takım Anketi</h5>
         <img style="width:100% ;" src="https://ajssarimg2.mediatriple.net/1132402.jpg?w=1200&h=675" alt="">
         <p>
          futbolseverlerin hangi takımı tuttukları başta olmak üzere birçok davranışını ortaya çıkartacak. Anket taraftarların tercihlerini etkileyen faktörlerden kulüplerinin maç bileti fiyatlandırmaları hakkındaki yorumlarına, lisanslı ürün kullanım alışkanlıklarından kulüp haberlerini takip ettikleri mecralara, sosyal medya ve dijital para gibi konulardaki ilgi alanlarına kadar bir çok konuda eğilimleri ortaya çıkartacak.         </p>
       </div>
       
    </div>
    </div>

    